<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Cat Edit</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <a class="navbar-brand" href="#">Cats</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/mycat">Cats <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <span class="navbar-text">
      Cats are cool
    </span>
    </div>
</nav>




<!-- here goes comments -->

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Edit Cat</h1>
        <p class="lead">
        <form action="/updatecat" method="post" th:object="${catform}">
        <input type="hidden" th:field="${catform.id}">
        <div class="form-group">
                <label for="brand">Breed</label>
                <input type="text" class="form-control" th:field="${catform.breed}" id="brand" placeholder="Brand">
            </div>
            <div class="form-group">
                <label for="color">Color</label>
                <input type="text" class="form-control" th:field="${catform.color}" id="color" placeholder="Color">
            </div>
            <button type="submit" class="btn btn-primary">Save Cat</button>
            <button type="reset" class="btn btn-primary">Cancel</button>
        </form>



        </p>
    </div>
</div>



<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>
